[submodule "seguridad_informatica_anibal"]
	path = seguridad_informatica_anibal
	url = https://github.com/UDF-Condesa/seguridad_informatica_anibal.git
[submodule "Seguridad_Informatica_Luis"]
	path = Seguridad_Informatica_Luis
	url = https://github.com/LUISGARCIA7/Seguridad_Informatica_Luis.git
